/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/spec/files/tmp.jpeg
/spec/files/tmp.png

# rspec failure tracking
.rspec_status

*.swp
*.bundle
tags
.DS_Store
.ruby-version
